MONGO_URI=mongodb://localhost:27017/docvault
CHROMA_PORT=8000
CHROMA_HOST=localhost

CHAT_PROVIDER=groq
CHAT_MODEL=llama3-70b-8192
EMBED_PROVIDER=gemini
EMBED_MODEL=gemini-embedding-001
VISION_PROVIDER=openrouter
VISION_MODEL_OPENROUTER=dots-studio/dots-3-note-preview:free

GROQ_API_KEY=your_groq_api_key_here
GEMINI_API_KEY=your_gemini_api_key_here
OPENROUTER_API_KEY=your_openrouter_api_key_here

JWT_SECRET=your_jwt_secret_here
PORT=3000
FRONTEND_URL=http://localhost:3001
